@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">

    <h1 class="display-4">How to use NextensTaxTool? </h1>

    <ul>
        <li>Click on Import --> It will import json blob files from ImportData folder(under this project) to database. It will insert or update on the basis of file updation or addition.</li>
        <li>Click on Financial Report --> By default it will fetch data for year 2020. You can also fetch data for last 7 years by passing year as query param in url (Eg. - https://localhost:44397/Report?year=2018) </li>
    </ul>

    <h6>Note : Data is not according to the conditions provided. I updated one of the client for all 3 indicators. You can edit the files with different data and import it or change the percentage for indicators in Constant.cs file in solution.</h6>
</div>
